.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevents scrolling */
    background-color: black;

}

main {
  background: black;
}


.col-md-6 {
  &::-webkit-scrollbar {
          display: none;
          width: 0; /* Ensures no space is reserved for the scrollbar */
          height: 0;
      }
}


.form-container-top {
    border: 2px solid rgba(55, 65, 81, 1);
    background-color: #10151C !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 30px;
}


.form-label {
  font-size: 12px;
  padding: 0px 15px;
  font-weight: 500;
  color: var(--accent-color);
  transition: color 0.3s ease;
}

.form-control, .ͼ1 .cm-scroller {
  color: #D1D5DB !important;
  background-color: #10151C !important;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', monospace;
  font-size: 12px !important;
  border: 2px solid #374151 !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top: 0px !important;
  height: 350px;
  max-height: 450px;

      &::-webkit-scrollbar {
          display: none;
          width: 0; /* Ensures no space is reserved for the scrollbar */
          height: 0;
      }
}

.form-control:hover  {
transform: translateY(-1px) !important;
}


.col-lg-5 .form-control {
  top: 9px;
  position: relative;
  border: 2px solid #374151 !important;
  border-radius: 10px !important;
  height: 375px;
  max-height:375px;
}

.form-control:hover  {
transform: translateY(-1px) !important;
}

.col-lg-7 .row {
  height: 400px;
}

.tempo-input, .volume-input {
  position: static;
}


.tempo-input {
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;

  left: calc(46% - 380px); 
  
  z-index: 999;
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.volume-input {
  left: calc(31% + 250px); 
  
  top: 20px;
  position: fixed;
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-bottom: 10px;
}

.input-text, .form-input {
    position: relative;
    border: 2px solid #374151 !important;
    border-radius: 10px !important;
    color: var(--accent-color);
    background-color: #10151C !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}
.input-text {
    color: var(--accent-color);
    transition: color 0.3s ease;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;

}

#roll {
  transform: rotate(270deg);
  position: relative;
  bottom: 100%;
  left: 15%;
  size-adjust: 50%;

}

