.input-group-text, .form-input {
    position: relative;
    top: 225px;
    left: 115px;
    border: 2px solid #374151 !important;
    border-radius: 10px !important;
    background-color: #10151C !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}
.input-group-text {
    color: var(--accent-color);
    transition: color 0.3s ease;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;

}