header {
  background-color: black;
  color: var(--accent-color);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  padding: 18px;
}

header .h3 {
    font-size: 20px !important;
}

.color-picker {
  margin-left: auto;
  margin-right: 0;
  
}

.music-icon {
  height: 30px;
  width: 30px;
}