.player-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.776);
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.playback-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extra-controls {
  display: flex;
  justify-content: flex-end;
}