.slider-card .form-control {
  height: 50px;
  color: var(--accent-color);
  transition: color 0.3s ease;
  position: relative;
  top: 0;
}

.input-group-text {
    color: var(--accent-color) !important;
}