.extra-controls {
    width: 250px;
    font-family: sans-serif;
    color: #ffffff;
}

.volume-slider {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #4d4d4d; /* Default color */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0%;
}

.volume-slider:hover::-webkit-slider-thumb {
    background-color: var(--accent-color);
    opacity: 100%;
}